
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        boy {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 10px;
            font-size: 16px;
            color: #333;
        }
        input, textarea {
            margin-bottom: 20px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            width: 100%;
        }
        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }


                 ///////////////////////////////////////////////////////////////////////////////////////
        imagedefond {
            /* Utilisation de l'image comme arrière-plan */
            background-image: url('library picture.jpg');
            background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
            background-repeat: no-repeat; /* Empêche la répétition de l'image */
            background-attachment: fixed; /* Fixe l'image pour qu'elle ne défile pas avec le contenu */
            background-position: center; /* Centre l'image */
            margin: 0; /* Supprime les marges par défaut du body */
            height: 100vh; /* Assure que le body prend toute la hauteur de la fenêtre */
        }

        /* Style de base pour le contenu par-dessus l'image */
        .content {
            color: white;
            text-align: center;
            padding: 20px;
        }
