<p>/authentification -- pour vous <a href="pageaccueilsite.html">emprunter</a>authentifier en tant qu’<a href="formulaire.html">utilisateur simple</a> ou <a href="formulaire_authentification.html">utilisateur avancée</a></p>
<p>/fiche_client/<int:post_id>  --pour avoir accès aux clients enregistrés</p>
<p>/fiche_nom/<post_nom> -- pour rechercher un client dans la base de données</p>
<p>/enregistrer_client – pour enregistrer un nouveau client</p>
<p>/enregistrer_livres pour enregistrer un nouveau livre</p>
<p>/supprimer_livre/<lnom> -- pour supprimer un client</p>
<p>/emprunt_livre -- pour emprunter un livre</p>
<p>/retourner/<int:id> -- pour retourner un livre</p>
<p>/consultation_livres_emprunt – pour consulter les livres empruntés</p>
<p>/logout -- pour se déconnecter</p>
