<p>/authentification Pour vous connecter en tant qu’<a href="https://rayane2.alwaysdata.net/authentification">utilisateur simple ou utilisateur avancée</a></p>
<p>/fiche_client/<int:post_id> Pour avoir accès aux <a href="https://rayane2.alwaysdata.net/consultation">clients enregistrés</a></p>
<p>/fiche_nom/<post_nom> Pour rechercher un client dans la base de données</p>
<p>/enregistrer_client Pour <a href="https://rayane2.alwaysdata.net/enregistrer_client">enregistrer un nouveau client</a></p>
<p>/enregistrer_livres pour <a href="https://rayane2.alwaysdata.net/enregistrer_livres">enregistrer un nouveau livre</a></p>
<p>/supprimer_livre/<lnom> Pour supprimer un client</p>
<p>/emprunt_livre Pour <a href="https://rayane2.alwaysdata.net/emprunt_livre">emprunter un livre</a></p>
<p>/retourner/<int:id> Pour retourner un livre</p>
<p>/consultation_livres_emprunt Pour <a href="https://rayane2.alwaysdata.net/consultation_livres_emprunt">consulter les livres empruntés</a></p>
<p>/logout Pour <a href="https://rayane2.alwaysdata.net/logout">se déconnecter</a></p>
