
<div class="container bottomForm">
    <h2 class="text-center">Fiche pour emprunter un livre</h2>
    <div class="row">
        <div class="col-sm-3"></div>
        <form action="./emprunt_livre" method="POST">
            <label for="nom">ID_Client :</label>
            <input type="text" id="user_id" name="user_id" required><br><br>
            <label for="prenom">ID_livres:</label>
            <input type="text" id="livre_id" name="livre_id" required><br><br>
            <button type="submit">Enregistrer</button>
        </form>
    </div>
</div>

