{% extends "layout.html" %}
{% block content %}
<div class="container bottomForm">
    <h2 class="text-center">Fiche pour les livres</h2>
    <div class="row">
        <div class="col-sm-3"></div>
        <form method="POST">
            <label for="user_id">Sélectionnez l'utilisateur :</label>
            <select name="user_id">
                {% for client in clients %}
                <option value="{{ client[0] }}">{{ client[2] }} {{ client[3] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Emprunter">
        </form>
        <div class="col-sm-3"></div>
    </div>
</div>
{% endblock content %}
