<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'enregistrement d'un nouvel emprunt</title>
</head>
<body>
    <h1>Enregistrer un nouvel emprunt</h1>
    <form action="./emprunt_livre" method="POST">
        <label for="prenom">Utilisateur:</label>
        <input type="text" id="user_id" name="user_id" required><br>
        <label for="prenom">Livre à emprunter :</label>
        <input type="text" id="livre_id" name="livre_id" required><br><br>
        <button type="submit">Enregistrer</button>
    </form>
</body>
</html>
