<table>
    <tr>
        <th>Livre</th>
        <th>Utilisateur</th>
        <th>Date d'emprunt</th>
        <th>Retourner</th>
    </tr>
    {% for loan in loans %}
    <tr>
        <td>{{ loan.livre_nom }}</td>
        <td>{{ loan.client_nom }}</td>
        <td>{{ loan.loan_date }}</td>
        <td>
            {% if not loan.returned %}
            <form method="POST" action="{{ url_for('retourner_livre', loan_id=loan.id) }}">
                <input type="submit" value="Retourner">
            </form>
            {% else %}
            Déjà retourné
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
