    <link href="static/style.css" rel="stylesheet" type="text/css">
<style>
        body {
            /* Utilisation de l'image comme arrière-plan */
            background-image: none;
            background-size: cover; /* Ajuste l'image pour couvrir tout le fond */
            background-repeat: no-repeat; /* Empêche la répétition de l'image */
            background-attachment: fixed; /* Fixe l'image pour qu'elle ne défile pas avec le contenu */
            background-position: center; /* Centre l'image */
            margin: 0; /* Supprime les marges par défaut */
            height: 100vh; /* Assure que l'élément prend toute la hauteur de la fenêtre */
        }
    </style>
<body>
<title>Listes</title>
    <h2>Listes des livres empruntés</h2>
<table>
        <tr>
            <th>ID</th>
            <th>ID_Client</th>
            <th>ID_Livre</th>
            <th>Date d'emprunt</th>
            <th>Date de retour</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
